@import url('https://fonts.googleapis.com/css?family=Oswald');
html, body {
  font-family: 'Oswald', sans-serif;
  font-size: 80%;
  margin: auto;
  padding: 5%;
  border: 2px solid #000000;
}

button {
  margin-bottom: 10px;
  border: 2px solid #000000;
}
